replicas: 1

ingress:
  enabled: false

service:
  enabled: true
  type: LoadBalancer
  annotations: {}

persistence:
  enabled: false

resources:
  requests:
    cpu: 25m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 256Mi

adminUser: admin
adminPassword: admin

grafana.ini:
  analytics:
    check_for_updates: false
  log:
    mode: console
  server:
    root_url: "%(protocol)s://%(domain)s:%(http_port)s/"

plugins: []
