replicas: 1

resources:
  requests:
    cpu: 20m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 256Mi

service:
  enabled: true
  type: NodePort
  nodePort: 32000

ingress:
  enabled: false

managedCertificate:
  enabled: false

frontendConfig:
  enabled: false

persistence:
  enabled: false

assertNoLeakedSecrets: false

adminUser: admin
adminPassword: admin

grafana.ini:
  analytics:
    check_for_updates: false
  log:
    mode: console

plugins: []
