apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  destination:
    namespace: grafana
    server: https://kubernetes.default.svc
  project: default
  source:
    path: charts/grafana
    repoURL: https://github.com/snagfilms/helm-charts.git
    targetRevision: main
    helm:
        valueFiles:
        - values.yaml
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
