namespace: dev

serving:
  enabled: true

  service:
    enabled: true
    name: knative-service-dev

    annotations: {}

    template:
      metadata:
        annotations:
          autoscaling.knative.dev/minScale: "0"
          autoscaling.knative.dev/maxScale: "1"
          autoscaling.knative.dev/target: "1"
      spec:
        containerConcurrency: 1
        timeoutSeconds: 60

        containers:
          - name: app
            image: gcr.io/knative-samples/helloworld-go:latest
            ports:
              - containerPort: 8080

            env:
              - name: TARGET
                value: "dev"

            resources:
              requests:
                cpu: 5m
                memory: 32Mi
              limits:
                cpu: 50m
                memory: 64Mi

    traffic:
      - latestRevision: true
        percent: 100

    visibility: ""

eventing:
  enabled: false

autoscaling:
  enabled: false

serviceAccount:
  create: false

podDisruptionBudget:
  enabled: false

networkPolicy:
  enabled: false
